NEXT_PUBLIC_API_URL=http://localhost:5000/api/v1

# Google OAuth
NEXT_PUBLIC_GOOGLE_CLIENT_ID=

# Blockchain review verification
NEXT_PUBLIC_REVIEW_CONTRACT_ADDRESS=
NEXT_PUBLIC_POLYGON_AMOY_RPC_URL=https://rpc-amoy.polygon.technology/
