LOCALHOST_RPC_URL=http://127.0.0.1:8545
GANACHE_RPC_URL=http://127.0.0.1:7545
GANACHE_CHAIN_ID=1337

# Polygon Amoy deployment
POLYGON_AMOY_RPC_URL=https://rpc-amoy.polygon.technology/
DEPLOYER_PRIVATE_KEY=
POLYGONSCAN_API_KEY=
